*{

margin:0;

padding:0;

box-sizing:border-box;

font-family:"Segoe UI";

}



body{

min-height:100vh;

background:

linear-gradient(
135deg,
#edf4ff,
#f7fbff
);

}



/* NAVBAR */

nav{

height:90px;

padding:0 60px;

display:flex;

justify-content:space-between;

align-items:center;

background:

linear-gradient(
90deg,
#0a6cff,
#2d82ff
);

box-shadow:

0 10px 30px
rgba(
0,
0,
0,
0.08
);

}



.logo{

color:white;

font-size:32px;

font-weight:700;

}



.back{

text-decoration:none;

padding:12px 22px;

border-radius:14px;

background:white;

color:#0a6cff;

font-weight:600;

transition:.3s;

}



.back:hover{

transform:

translateY(
-2px
);

}



/* CENTER */

.container{

display:flex;

justify-content:center;

align-items:center;

padding:60px;

}



/* BILL CARD */

.bill-box{

width:720px;

background:white;

padding:50px;

border-radius:30px;

box-shadow:

0 25px 70px
rgba(
0,
0,
0,
0.08
);

}



.bill-box h1{

font-size:42px;

color:#1458d4;

margin-bottom:10px;

}



.bill-box p{

font-size:18px;

color:#667;

margin-bottom:35px;

}



/* LABEL */

label{

display:block;

margin-bottom:10px;

margin-top:18px;

font-size:16px;

font-weight:600;

color:#222;

}



/* INPUTS */

input,
select{

width:100%;

padding:18px;

border:none;

outline:none;

border-radius:16px;

background:#f4f7ff;

font-size:16px;

margin-bottom:18px;

transition:.3s;

}



input:focus,
select:focus{

background:#ffffff;

box-shadow:

0 0 0 3px
rgba(
10,
108,
255,
0.15
);

}



/* BUTTON */

button{

width:100%;

padding:20px;

margin-top:25px;

border:none;

border-radius:18px;

background:

linear-gradient(
90deg,
#0a6cff,
#2e83ff
);

color:white;

font-size:18px;

font-weight:700;

cursor:pointer;

transition:.3s;

}



button:hover{

transform:

translateY(
-3px
);

box-shadow:

0 20px 40px
rgba(
10,
108,
255,
0.25
);

}



/* TOTAL BOX */

.total{

margin-top:20px;

padding:20px;

background:

linear-gradient(
90deg,
#eef5ff,
#f7fbff
);

border-radius:18px;

font-size:22px;

font-weight:700;

color:#1458d4;

text-align:center;

}



/* MOBILE */

@media(max-width:850px){

.container{

padding:20px;

}



.bill-box{

width:100%;

padding:35px;

}



.bill-box h1{

font-size:32px;

}

}