*{

margin:0;

padding:0;

box-sizing:border-box;

font-family:Segoe UI;

}

body{

background:#eef4ff;

}

nav{

height:90px;

padding:0 60px;

display:flex;

justify-content:space-between;

align-items:center;

background:#0a6cff;

}

.logo{

font-size:30px;

color:white;

font-weight:700;

}

nav a{

background:white;

padding:12px 18px;

border-radius:12px;

text-decoration:none;

color:#0a6cff;

}

.container{

width:90%;

margin:auto;

padding:50px;

}

h1{

margin-bottom:40px;

color:#1458d4;

}

.bill-card{

background:white;

padding:35px;

margin-bottom:25px;

border-radius:22px;

box-shadow:

0 15px 40px

rgba(
0,
0,
0,
0.08
);

}

.row{

display:flex;

justify-content:space-between;

padding:14px 0;

border-bottom:

1px solid #eee;

}

.total{

font-size:22px;

font-weight:700;

color:#0a6cff;

}

.empty{

text-align:center;

padding:100px;

font-size:24px;

}