*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Segoe UI;
}

body{
background:#f4f8fc;
min-height:100vh;
}

nav{
height:80px;
padding:0 60px;
display:flex;
justify-content:space-between;
align-items:center;
background:white;
box-shadow:0 3px 10px rgba(0,0,0,.08);
}

.logo{
font-size:30px;
font-weight:700;
color:#0a6cff;
}

.back{
text-decoration:none;
color:#0a6cff;
font-weight:600;
}

.container{
width:90%;
max-width:1300px;
margin:50px auto;
}

h1{
margin-bottom:30px;
font-size:40px;
}

.history-table{
background:white;
border-radius:20px;
overflow:hidden;
box-shadow:0 10px 30px rgba(0,0,0,.08);
}

.table-head{

display:grid;

grid-template-columns:
1fr
1fr
1fr
2fr
1fr;

background:#0a6cff;

color:white;

font-weight:700;

padding:20px;

}

.history-row{

display:grid;

grid-template-columns:
1fr
1fr
1fr
2fr
1fr;

padding:25px;

border-bottom:1px solid #eee;

}

.history-row:hover{

background:#f5f8ff;

}

.status{

background:#ffe28a;

padding:8px 18px;

border-radius:50px;

}

.empty{

background:white;

padding:80px;

border-radius:20px;

text-align:center;

font-size:25px;

}