*{

margin:0;

padding:0;

box-sizing:border-box;

font-family:Segoe UI;

}


body{

min-height:100vh;

background:

linear-gradient(
rgba(8,18,40,.55),
rgba(8,18,40,.65)
),

url("https://images.unsplash.com/photo-1587351021759-3e566b6af7cc");

background-size:cover;

background-position:center;

background-attachment:fixed;

color:white;

}



nav{

height:90px;

display:flex;

justify-content:space-between;

align-items:center;

padding:0 70px;

background:

rgba(255,255,255,.08);

backdrop-filter:

blur(18px);

}



.logo{

font-size:34px;

font-weight:800;

}



.menu{

display:flex;

gap:40px;

align-items:center;

}



.menu a{

text-decoration:none;

color:white;

font-size:18px;

}



.hero{

padding:90px 80px 50px;

}



.welcome{

width:700px;

background:

rgba(255,255,255,.08);

padding:45px;

border-radius:35px;

backdrop-filter:

blur(20px);

}



.welcome h1{

font-size:70px;

margin-bottom:15px;

}



.welcome p{

font-size:28px;

line-height:40px;

color:#e3e3e3;

}



.dashboard{

padding:0 80px 80px;

display:grid;

grid-template-columns:

1fr 1fr 1fr;

gap:35px;

}



.card{

min-height:330px;

padding:40px;

border-radius:35px;

background:

rgba(255,255,255,.10);

backdrop-filter:

blur(22px);

text-decoration:none;

color:white;

transition:.4s;

display:flex;

flex-direction:column;

}



.card:hover{

transform:

translateY(-8px);

}



.icon{

font-size:70px;

}



.card h2{

margin-top:25px;

font-size:34px;

}



.card p{

margin-top:15px;

font-size:22px;

line-height:35px;

color:#ececec;

}



.history{

justify-content:flex-start;

}



.empty{

margin-top:40px;

height:140px;

display:flex;

justify-content:center;

align-items:center;

border:

2px dashed rgba(255,255,255,.4);

border-radius:25px;

font-size:22px;

color:#ddd;

background:

rgba(255,255,255,.05);

}