body{

background:#eef5ff;

font-family:Segoe UI;

}

nav{

height:80px;

padding:20px 50px;

display:flex;

justify-content:space-between;

}

.container{

width:80%;

margin:auto;

}

.card{

background:white;

padding:30px;

margin:25px 0;

border-radius:20px;

}

a{

display:inline-block;

margin-top:20px;

background:#0a6cff;

color:white;

padding:12px 25px;

text-decoration:none;

border-radius:10px;

}

.empty{

text-align:center;

padding:100px;

}
