*{

margin:0;

padding:0;

box-sizing:border-box;

font-family:Segoe UI;

}


body{

height:100vh;

background:

linear-gradient(
rgba(0,0,0,.45),
rgba(0,0,0,.55)
),

url("https://images.unsplash.com/photo-1519494026892-80bbd2d6fd0d");

background-size:cover;

background-position:center;

color:white;

overflow:hidden;

}



.container{

display:flex;

height:100vh;

padding:70px;

}



.left{

width:55%;

padding-top:110px;

}



.left h1{

font-size:90px;

font-weight:800;

line-height:95px;

}



.left p{

font-size:30px;

margin-top:25px;

color:#dffefd;

}



.quote{

margin-top:60px;

padding:35px;

width:700px;

background:

rgba(255,255,255,.12);

border-radius:30px;

backdrop-filter:

blur(18px);

font-size:28px;

line-height:40px;

}



.right{

width:45%;

display:flex;

justify-content:center;

align-items:center;

}



.login-box{

width:500px;

padding:60px;

border-radius:35px;

background:

rgba(255,255,255,.10);

backdrop-filter:

blur(30px);

}



.login-box h2{

text-align:center;

font-size:48px;

margin-bottom:40px;

}



input{

width:100%;

padding:22px;

margin-bottom:22px;

border:none;

border-radius:18px;

background:

rgba(255,255,255,.10);

color:white;

font-size:18px;

}



input::placeholder{

color:#ddd;

}



.options{

display:flex;

justify-content:space-between;

margin-bottom:30px;

}



.options a{

color:#71ffee;

text-decoration:none;

}



button{

width:100%;

padding:22px;

border:none;

border-radius:18px;

font-size:22px;

font-weight:bold;

cursor:pointer;

background:

linear-gradient(
90deg,
#00c2a8,
#4fffc9
);

}



button:hover{

transform:scale(1.03);

}



.back{

display:block;

text-align:center;

margin-top:35px;

color:white;

text-decoration:none;

font-size:18px;

}