*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:"Segoe UI";
}

body{

background:
linear-gradient(
135deg,
#edf4ff,
#f8fbff
);

min-height:100vh;

color:#222;

}



/* NAVBAR */

nav{

height:90px;

padding:0 60px;

display:flex;

justify-content:space-between;

align-items:center;

background:

linear-gradient(
90deg,
#0a6cff,
#357cff
);

box-shadow:

0 8px 30px
rgba(
0,
0,
0,
0.08
);

}

.logo{

font-size:34px;

font-weight:700;

color:white;

}

nav div{

display:flex;

gap:16px;

}

nav a{

text-decoration:none;

padding:14px 24px;

border-radius:14px;

font-weight:600;

transition:.3s;

}

.bill{

background:white;

color:#0a6cff;

}

.bill:hover{

transform:translateY(-2px);

}

.logout{

background:#ff5a5a;

color:white;

}

.logout:hover{

background:#ff3a3a;

}



/* HERO */

.hero{

padding:60px;

text-align:center;

}

.hero h1{

font-size:54px;

color:#1458d4;

margin-bottom:14px;

}

.hero p{

font-size:19px;

color:#5c6d86;

}



/* TABLE */

.table-container{

width:92%;

margin:auto;

padding-bottom:60px;

overflow-x:auto;

}

table{

width:100%;

border-collapse:collapse;

background:white;

border-radius:26px;

overflow:hidden;

box-shadow:

0 20px 60px
rgba(
0,
0,
0,
0.08
);

}



th{

background:

linear-gradient(
90deg,
#1458d4,
#2e7fff
);

color:white;

padding:22px;

font-size:17px;

letter-spacing:.4px;

}

td{

padding:22px;

text-align:center;

font-size:16px;

border-bottom:

1px solid
#eef2ff;

}

tr{

transition:.2s;

}

tr:hover{

background:

#f7faff;

transform:
scale(
1.01
);

}



/* STATUS */

.status-approved{

color:#1fa958;

font-weight:700;

}

.status-pending{

color:#ffb000;

font-weight:700;

}

.status-rejected{

color:#ff4343;

font-weight:700;

}

.status-prescription{

color:#0a6cff;

font-weight:700;

}



/* EMPTY */

.empty{

padding:80px;

text-align:center;

font-size:22px;

color:#777;

}



/* MOBILE */

@media(max-width:900px){

nav{

padding:25px;

flex-direction:column;

height:auto;

gap:18px;

}

.hero h1{

font-size:38px;

}

table{

min-width:900px;

}

}