*{

margin:0;

padding:0;

box-sizing:border-box;

font-family:"Segoe UI";

}



/* BACKGROUND */

body{

min-height:100vh;

background:

linear-gradient(
rgba(10,20,45,.58),
rgba(10,20,45,.72)
),

url("https://images.unsplash.com/photo-1584515933487-779824d29309");

background-size:cover;

background-position:center;

background-attachment:fixed;

}



/* NAV */

nav{

height:90px;

padding:0 60px;

display:flex;

justify-content:space-between;

align-items:center;

background:

rgba(
255,
255,
255,
0.08
);

backdrop-filter:

blur(18px);

}



.logo{

font-size:32px;

font-weight:700;

color:white;

}



.back{

text-decoration:none;

padding:14px 24px;

border-radius:16px;

background:white;

color:#1458d4;

font-weight:700;

}



/* CENTER */

.container{

display:flex;

justify-content:center;

align-items:center;

padding:70px;

}



/* GLASS CARD */

.upload-box{

width:760px;

padding:55px;

border-radius:34px;

background:

rgba(
255,
255,
255,
0.10
);

backdrop-filter:

blur(22px);

border:

1px solid

rgba(
255,
255,
255,
0.18
);

box-shadow:

0 30px 80px

rgba(
0,
0,
0,
0.20
);

}



.upload-box h1{

font-size:48px;

color:white;

margin-bottom:10px;

}



.upload-box p{

font-size:18px;

color:

rgba(
255,
255,
255,
0.85
);

margin-bottom:35px;

}



/* LABEL */

label{

display:block;

margin-bottom:10px;

color:white;

font-size:16px;

font-weight:600;

}



/* INPUTS */

select,
input,
textarea{

width:100%;

padding:18px;

border:none;

outline:none;

border-radius:18px;

background:

rgba(
255,
255,
255,
0.92
);

margin-bottom:20px;

font-size:16px;

}



textarea{

height:150px;

resize:none;

}



/* FILE */

input[type="file"]{

padding:25px;

background:

rgba(
255,
255,
255,
0.18
);

color:white;

border:

2px dashed

rgba(
255,
255,
255,
0.35
);

}



/* BUTTON */

button{

width:100%;

padding:20px;

margin-top:15px;

border:none;

border-radius:18px;

font-size:18px;

font-weight:700;

cursor:pointer;

color:white;

background:

linear-gradient(
90deg,
#0a6cff,
#4da8ff
);

transition:.3s;

}



button:hover{

transform:

translateY(-4px);

box-shadow:

0 20px 45px

rgba(
10,
108,
255,
0.35
);

}



/* STATUS */

.success{

margin-top:20px;

padding:18px;

border-radius:18px;

background:

rgba(
70,
255,
180,
0.18
);

color:#8fffd8;

text-align:center;

}



/* MOBILE */

@media(max-width:850px){

.container{

padding:20px;

}



.upload-box{

width:100%;

padding:35px;

}



.upload-box h1{

font-size:36px;

}

}